Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

add changelog note about generator
  docs/source/changelog.rst
  docs/source/plan_generator.rst
Due: Build Docs

typo
  docs/source/changelog.rst
Due: Build Docs

mtmf speedup
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/winston_lutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

strange np error
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

strange np error
  pylinac/ct.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests

strange np error
  pyproject.toml
Due: none

reset
  pylinac/ct.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests

???
  bitbucket-pipelines.yml
Due: none

2x size?
  bitbucket-pipelines.yml
Due: none

avoids zero division error for other MTF plots
  pylinac/core/mtf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

changelog
  docs/source/changelog.rst
Due: Build Docs

add individual leaf positions and errors to results_data
  docs/source/changelog.rst
  docs/source/picketfence.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

bump version
  pylinac/version.py
Due: none

update
  docs/source/topics/exporting_results.rst
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/winston_lutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

lower clearance of cbct phantom to edge
  docs/source/changelog.rst
  pylinac/ct.py
  pylinac/version.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

fine-tuning parameters for planar analysis
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
  pylinac/version.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Update orthogonality.py
  pylinac/contrib/orthogonality.py
Due: none

add parameters and optimize the image simulator
  docs/source/changelog.rst
  pylinac/core/image_generator/simulators.py
  tests_basic/core/test_image_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix teardown
  tests_basic/utils.py
Due: none

fix warnings
  pylinac/core/image.py
  pylinac/dlg.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/field_analysis_v2.py
Due: none

fix filename usage
  tests_basic/utils.py
Due: none

add v2 field analysis
  docs/source/changelog.rst
  docs/source/field_analysis.rst
  docs/source/field_profile_analysis.rst
  docs/source/images/field_analysis_v2.png
  docs/source/index.rst
  docs/source/topics/profiles.rst
  pylinac/__init__.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/core/utilities.py
  pylinac/field_analysis.py
  pylinac/field_analysis_v2.py
  pylinac/field_profile_analysis.py
  pylinac/metrics/profile.py
  tests_basic/test_field_profile_analysis.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

PR comment
  docs/source/planar_imaging.rst
Due: Build Docs

PR comments and doc build fixes
  docs/source/field_analysis.rst
  docs/source/field_profile_analysis.rst
  tests_basic/core/test_profile.py
Due: Build Docs, Run core module tests

clarify statement
  docs/source/field_profile_analysis.rst
Due: Build Docs

add discussion of current publications
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
Due: Build Docs, Run Winston-Lutz Tests

fix x limits when the hill plot changes them.
  docs/source/changelog.rst
  docs/source/field_analysis.rst
  pylinac/field_analysis.py
Due: Build Docs, Run Field Analysis Tests

fix siemens protocol plotting w/ odd values
  docs/source/changelog.rst
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Build Docs, Run Field Analysis Tests

make results_data as dict JSON serializable
  docs/source/changelog.rst
  pylinac/core/utilities.py
  tests_basic/core/test_utilities.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

as dict JSON fix
  docs/source/changelog.rst
  pylinac/core/utilities.py
  tests_basic/core/test_utilities.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix non-serializable items in vmat and acr
  docs/source/changelog.rst
  pylinac/acr.py
  pylinac/core/geometry.py
  pylinac/version.py
  pylinac/vmat.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_analysis.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/mlc.py
  tests_basic/core/test_generator.py
  tests_basic/utils.py
Due: Run core module tests

fix non-serializable items in vmat and acr
  pylinac/plan_generator/dicom.py
Due: none

remove test from name
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_analysis.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove fine tune adjustments
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

adjust the fine-tuning limitations
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

typo
  docs/source/winston_lutz.rst
Due: Build Docs

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
