Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

add more tests, rename
  pylinac/core/contrast.py
  pylinac/core/roi.py
  tests_basic/core/test_contrast.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Update field_analysis.py
  pylinac/field_analysis.py
Due: Run Field Analysis Tests

Text results position changed in PicketFace.publish_pdf
  pylinac/picketfence.py
Due: Run Picket Fence Tests

replace decorator module w/ contrast module
  docs/source/core_modules.rst
Due: Build Docs

equation typo
  docs/source/topics/contrast.rst
Due: Build Docs

Call crop method only if it is needed
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix
  docs/source/topics/images.rst
Due: Build Docs

fix
  pylinac/field_analysis.py
Due: Run Field Analysis Tests

WIP
  pylinac/__init__.py
  pylinac/core/hill.py
  pylinac/core/profile.py
  pylinac/field_analysis.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

slice thickness parameter. still needs test.
  docs/source/cbct.rst
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

finish of slice thickness
  docs/source/cbct.rst
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

clarification
  docs/source/cbct.rst
Due: Build Docs

clarification #2
  docs/source/cbct.rst
Due: Build Docs

add default for quart
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

docs on vmat algo differences
  docs/source/topics/images.rst
  docs/source/vmat_docs.rst
Due: Build Docs

Use correct value for timetic and read in gain to update integrate_dose calculation to match Profiler software.
  pylinac/core/io.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

rename parameter
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix all refs to padding
  docs/source/cbct.rst
  docs/source/changelog.rst
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests

smaller minimum BB size
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

fix crop bug
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add notes
  docs/source/changelog.rst
Due: Build Docs

add release note
  docs/source/changelog.rst
Due: Build Docs

add mailmap
  .mailmap
Due: none

blacken
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix order
  pylinac/ct.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

still WIP
  pylinac/acr.py
  pylinac/core/profile.py
  pylinac/ct.py
  pylinac/dlg.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  pylinac/vmat.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix kraken update trigger
  noxfile.py
Due: none

create option list mixin for easy listing of class attrs
  pylinac/core/contrast.py
  pylinac/core/utilities.py
  tests_basic/core/test_utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

test optimizations
  tests_basic/test_cbct.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_starshot.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run Field Analysis Tests, Run Starshot Tests

remove methods from option list
  pylinac/core/utilities.py
  tests_basic/core/test_utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

blacken
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

np
  .pre-commit-config.yaml
  tests_basic/core/test_array_utils.py
Due: Run core module tests

update precommit image to python 3.11 to match yaml
  bitbucket-pipelines.yml
Due: none

Wrong hyperlink on Documentation
  README.rst
  docs/source/installation.rst
Due: Build Docs

🤦‍♂️
  bitbucket-pipelines.yml
Due: none

improvements to the MRI module and scan extent check
  docs/source/acr.rst
  docs/source/changelog.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/image.py
  pylinac/ct.py
  tests_basic/test_acr.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

tests
  tests_basic/core/test_image.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run core module tests

tests
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests
