Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Add a finetune step to the find_origin_slice method for the CatPhan to improve localisation accuracy
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/RAM-2000_low_contrast_cbct_plotting (pull request #120)
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/RAM-1854_old_snc_phantom (pull request #119)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merge pull request #123 in radformation/pylinac from bugfix/RTD_fix to master
  .readthedocs.yaml
Due: none

Merged in bugfix/RAM-2018_backwards_compatible_scikit_attr (pull request #122)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in bugfix/RAM-2017_use_as_list_results (pull request #121)
  docs/source/changelog.rst
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  tests_basic/test_cbct.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_starshot.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run Picket Fence Tests, Run Starshot Tests

Merged in feature/RAM-1901_primus (pull request #125)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/core/image.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bump_to_3.5 (pull request #126)
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/planar_imaging.rst
  pylinac/version.py
  pyproject.toml
Due: Build Docs

Merged in bugfix/couch_in_wl (pull request #127)
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

Merged in bugfix/2111_catphan600_mtf (pull request #128)
  docs/source/changelog.rst
  docs/source/images/new_mtf_positions.png
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

Merged in bugfix/dicom_save (pull request #129)
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/RAM-2014_pylinac_max_leaf_type (pull request #130)
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

Merged in feature/RAM-1945_wl_coordinate_system_conversion (pull request #132)
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

Merged in bugfix/RAM-2133_low_contrast_roi_display (pull request #131)
  docs/source/changelog.rst
  docs/source/topics.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in docs/cleanup (pull request #134)
  docs/source/field_analysis.rst
Due: Build Docs

Merged in feature/RAM-1998_field_analysis_central_roi_stats (pull request #133)
  docs/source/changelog.rst
  pylinac/core/geometry.py
  pylinac/core/roi.py
  pylinac/field_analysis.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/RAM-2162_repeated_wl_analyses_different_results (pull request #135)
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

Merged in refactor/lib_deprecation_warning (pull request #136)
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

bump to 3.6
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

fix ROI scaling for SNC MV
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

bump patch version
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

fix catphan detection issues when jig is touching the phantom.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

changelog.rst
  docs/source/changelog.rst
Due: Build Docs

update based on PR comments
  docs/source/changelog.rst
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/RAM-2234_max_leaf_picket_in_results (pull request #140)
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

update paths because GCP changed
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in feature/RAM-2170_improved_inversion_detection (pull request #138)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

fix tests
  bitbucket-pipelines.yml
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

forgot one test
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Fix RAM-2228
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/planar_imaging.py
  pylinac/version.py
  pyproject.toml
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

snc
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

omitted test
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

changelog
  docs/source/changelog.rst
Due: Build Docs

v 3.6.2
  .bumpversion.cfg
  bitbucket-pipelines.yml
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/acr.py
  pylinac/ct.py
  pylinac/version.py
  pyproject.toml
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

a;sldfinasd;ofinasdf
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

bump so master is ahead of pypi
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

Merged in feature/RAM-2235_elekta_mlc_options (pull request #147)
  docs/source/changelog.rst
  docs/source/picketfence.rst
  noxfile.py
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

add ability to pass custom logo to PDF reports
  pylinac/acr.py
  pylinac/core/pdf.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  tests_basic/core/rm-logo.png
  tests_basic/core/test_pdf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests
