Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

revert to weakproxy
  pylinac/core/image.py
  pylinac/winston_lutz.py
  pyproject.toml
  tests_basic/test_winstonlutz.py
  uv.lock
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use weakref in metrics
  bitbucket-pipelines.yml
  pylinac/core/image.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

try deleting metrics on the way out
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

try self hosted
  bitbucket-pipelines.yml
Due: none

try setup vs setupclass
  pylinac/core/image.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

setups
  bitbucket-pipelines.yml
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

drop weakref
  pylinac/metrics/image.py
Due: none

confirmed weakref
  bitbucket-pipelines.yml
  pylinac/core/image.py
  pylinac/metrics/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add release note
  docs/source/changelog.rst
Due: Build Docs

clean up tests
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

only setup-specific
  pylinac/metrics/image.py
Due: none

only setup-specific
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

fix num trace test
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

setup and proxy
  pylinac/metrics/image.py
Due: none

add more logging to more pipes
  bitbucket-pipelines.yml
Due: none

trigger all tests
  pylinac/core/typing.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add artifacts
  bitbucket-pipelines.yml
  tests_basic/test_winstonlutz_mtmf.py
Due: none

original w/ monitoring
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

added teardown
  tests_basic/test_acr.py
  tests_basic/test_cheese.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
  tests_basic/utils.py
Due: Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run Picket Fence Tests, Run Winston-Lutz Tests

added more teardown
  bitbucket-pipelines.yml
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_picketfence.py
  tests_basic/test_quart.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Picket Fence Tests, Run Winston-Lutz Tests

add starshot angles to output
  docs/source/changelog.rst
  docs/source/starshot_docs.rst
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run Starshot Tests

clarify orientation per PR comment
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

Fix for #530
  pylinac/field_profile_analysis.py
Due: none

description clarification
  pylinac/starshot.py
Due: Run Starshot Tests

doc cleanup
  docs/source/changelog.rst
  pylinac/version.py
Due: Build Docs

Possible solution for jrkerns/pylinac#534
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Use true window instead of simple ranging.
  pylinac/core/image.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

round indices
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

add warning for new IAEA rev
  docs/source/calibration_docs.rst
Due: Build Docs

scale diagonal values correctly for ACR MRI
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

add 10-90% mtf for acr mri
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

add to doc output
  docs/source/acr.rst
Due: Build Docs

Local/global gamma possibility
  pylinac/log_analyzer.py
Due: Run Machine Logs Tests

Added possibility for local/global gamma
  image.py
Due: none

Local/Global Gamma added
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

mb
  image.py
Due: none

bump release to 3.31
  pylinac/version.py
Due: none

Update winston_lutz.py
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

Mark tests using non-public data as proprietary
  pyproject.toml
  tests_basic/conftest.py
  tests_basic/contrib/test_orthogonality.py
  tests_basic/contrib/test_quasar.py
  tests_basic/core/test_gamma.py
  tests_basic/core/test_image.py
  tests_basic/core/test_image_metrics.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_nuclear.py
  tests_basic/test_picketfence.py
  tests_basic/test_plan_generator.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
  uv.lock
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Select all tests in CI/CD pipelines
  bitbucket-pipelines.yml
  noxfile.py
Due: none

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
