Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

docstrings, PR comment
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/image.py
  pylinac/core/plotly_utils.py
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

stabilize starshot algorithm
  docs/source/changelog.rst
  docs/source/images/bad_line_match.png
  docs/source/starshot_docs.rst
  pylinac/core/profile.py
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix energy inconsistencies in prefab plans
  pylinac/plan_generator/dicom.py
  scripts/prefab_plan_generator.py
Due: none

make signs the same for leaf positions and offsets from CAX
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

fix test
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

bump version
  pylinac/version.py
Due: none

youtube link vs embed
  README.rst
Due: none

fix geometric issue with slightly-unfilled ACR phantom.
  docs/source/changelog.rst
  pylinac/acr.py
  pylinac/core/array_utils.py
  tests_basic/core/test_array_utils.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

export generated fluence as dicom images
  docs/source/changelog.rst
  docs/source/image_generator.rst
  docs/source/plan_generator.rst
  pylinac/core/image_generator/layers.py
  pylinac/plan_generator/dicom.py
  tests_basic/core/test_image_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add docs, test case, and move cutoff to 5mm instead of 3.
  docs/source/acr.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

fix docstring
  pylinac/core/array_utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add doc image
  docs/source/images/acr_mri_air_bubble.png
Due: Build Docs

add tests for prefab plans
  docs/source/changelog.rst
  docs/source/plan_generator.rst
  pylinac/plan_generator/dicom.py
  scripts/prefab_plan_generator.py
  tests_basic/contrib/test_orthogonality.py
  tests_basic/contrib/test_quasar.py
  tests_basic/core/test_image.py
  tests_basic/test_generated_plans.py
  tests_basic/test_logs.py
  tests_basic/test_plan_generator.py
  tests_basic/test_starshot.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Build Docs, Run Starshot Tests, Run Winston-Lutz Tests, Run core module tests

add CI check for script changes
  bitbucket-pipelines.yml
Due: none

revert image add from acr bugfix branch
  docs/source/images/acr_mri_air_bubble.png
Due: Build Docs

add air bubble pic
  docs/source/images/acr_mri_air_bubble.png
Due: Build Docs

warning of elekta symmetry calculation issue.
  docs/source/field_analysis.rst
  docs/source/topics/profiles.rst
Due: Build Docs

allow cropping of 0 pixels.
  docs/source/changelog.rst
  pylinac/core/image.py
  pyproject.toml
  tests_basic/core/test_image.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

drop dummy test case
  tests_basic/core/test_image.py
Due: Run core module tests

fix property lookup/typo and parameterize tests
  pylinac/calibration/tg51.py
  tests_basic/test_tg51.py
Due: Run TG-51/TRS-398 Tests

changelog
  docs/source/changelog.rst
Due: Build Docs

add docs for how to handle directdensity
  docs/source/cbct.rst
  docs/source/changelog.rst
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests

merge
  docs/source/changelog.rst
Due: Build Docs

pin pydicom
  pyproject.toml
Due: none

add better checks for 604 refinement method to avoid slices w/o wire ramp.
  pylinac/ct.py
  pyproject.toml
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

release note
  docs/source/changelog.rst
Due: Build Docs

fix double crop and too large of a crop
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/picketfence.py
  tests_basic/core/test_image.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typos/PR comments
  docs/source/cbct.rst
Due: Build Docs

fix numpy calls to be more robust to different array lengths.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

load cyberknife and vision RT raw images; refactor array to dicom saving
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/overview.rst
  docs/source/tool_guide.rst
  docs/source/topics/images.rst
  pylinac/core/array_utils.py
  pylinac/core/image.py
  pylinac/core/image_generator/simulators.py
  pylinac/winston_lutz.py
  tests_basic/core/test_array_utils.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

allow float arrays in saved dicom
  docs/source/index.rst
  docs/source/topics/tool_guide.rst
  pylinac/core/array_utils.py
  tests_basic/core/test_array_utils.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

cleanup
  pylinac/core/array_utils.py
  tests_basic/core/test_array_utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

clarify docs
  docs/source/changelog.rst
Due: Build Docs

typo
  docs/source/changelog.rst
Due: Build Docs

revert dpi change and give defaults to raw image loaders
  pylinac/core/array_utils.py
  pylinac/core/image.py
  pylinac/core/image_generator/simulators.py
  pylinac/winston_lutz.py
  tests_basic/core/test_array_utils.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

handle range of pixel values for starshots.
  docs/source/changelog.rst
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run Starshot Tests

fix tests
  tests_basic/core/test_image.py
  tests_basic/core/test_image_generator.py
Due: Run core module tests

revert comment
  pylinac/starshot.py
Due: Run Starshot Tests

move release notes
  docs/source/changelog.rst
Due: Build Docs

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
