Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

tweak
  bitbucket-pipelines.yml
Due: none

remove exclusions
  .grype.yaml
Due: none

activate env
  bitbucket-pipelines.yml
Due: none

dump to file
  bitbucket-pipelines.yml
Due: none

drop poetry
  .grype.yaml
  bitbucket-pipelines.yml
Due: none

dont fail dump on high
  .grype.yaml
  bitbucket-pipelines.yml
Due: none

Remove `requirements-ram.txt` from exclusions.
  .grype.yaml
Due: none

Update .grype.yaml with ignores from venv/requirements-ram.txt.
  .grype.yaml
Due: none

add ptw light rad phantom
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  tests_basic/__init__.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

revert to original implementation
  pylinac/acr.py
  pylinac/picketfence.py
  pylinac/starshot.py
  pylinac/vmat.py
Due: Run ACR CT/MRI Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests

add new profile classes
  pylinac/core/profile.py
  pylinac/vmat.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert
  pylinac/core/hill.py
  pylinac/picketfence.py
  pylinac/vmat.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

formatting
  pylinac/acr.py
  pylinac/core/decorators.py
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

rename to isoalign
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

bump to 3.15
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

WIP
  pylinac/core/profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add hill tests
  pylinac/core/decorators.py
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/core/array_utils.py
  pylinac/core/image.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

get rid of centering method and test physical profiles
  pylinac/core/decorators.py
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

refactor internal usage and improve resampling.
  docs/source/index.rst
  pylinac/acr.py
  pylinac/core/profile.py
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add plugins, fix horn effect half-pixel bug
  pylinac/core/image_generator/layers.py
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix tests, add doc page
  docs/source/topics/profiles.rst
  tests_basic/core/test_profile.py
Due: Build Docs, Run core module tests

add plugins
  docs/source/changelog.rst
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add cbct wl
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/core/image.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add custom HU value passing to catphan
  docs/source/cbct.rst
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

fix docs
  docs/source/cbct.rst
Due: Build Docs

doc cleanup
  docs/source/cbct.rst
  docs/source/changelog.rst
  docs/source/cheese.rst
  docs/source/contributing.rst
  docs/source/core_modules.rst
  docs/source/field_analysis.rst
  docs/source/installation.rst
  docs/source/log_analyzer.rst
  docs/source/picketfence.rst
  docs/source/planar_imaging.rst
  docs/source/starshot_docs.rst
  docs/source/topics/xim.rst
  docs/source/troubleshooting.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
  docs/source/winston_lutz_multi.rst
  pylinac/log_analyzer.py
  pylinac/vmat.py
Due: Build Docs, Run Machine Logs Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests

add individual ROI data to results_data
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

WIP
  pylinac/core/image.py
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

refactor to `compute`
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typos
  docs/source/changelog.rst
Due: Build Docs

add flag to set analysis flags automatically for cbct per PR comment
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
Due: Build Docs, Run Winston-Lutz Tests

add warning for small dynamic range of int-like arrays when resampling
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add warning for input dtypes
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

finish plugins
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/topics/image_metrics.rst
  pylinac/core/image.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/metrics.py
  tests_basic/core/test_profile_metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix docstrings
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump version
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

WIP
  pylinac/core/geometry.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
