Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

bump pylinac
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

refactor the low shift vector and 3d position to testable functions
  pylinac/core/geometry.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

adjust plotting to show field isocenter at actual position
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add bb shift vector for multi-met
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

add bb yaw error for couch-kick images
  docs/source/changelog.rst
  docs/source/winston_lutz_multi.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Build Docs, Run Winston-Lutz Tests

typo
  docs/source/changelog.rst
Due: Build Docs

cleans up image generator issues
  docs/source/conf.py
  docs/source/image_generator.rst
  docs/source/vmat_docs.rst
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/utils.py
  tests_basic/core/test_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

race condition?
  docs/source/winston_lutz.rst
  noxfile.py
Due: Build Docs

fix detector swap
  docs/source/changelog.rst
  pylinac/core/io.py
  tests_basic/core/test_io.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove PDF as inherent
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add more Quaac
  pylinac/field_analysis.py
  pylinac/nuclear.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_analysis.py
  tests_basic/test_nuclear.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests

add more Quaac
  tests_basic/core/test_utilities.py
Due: Run core module tests

add slope layer and slope metric
  pylinac/core/image_generator/__init__.py
  pylinac/core/image_generator/layers.py
  pylinac/metrics/profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix RAM-3483 vmat
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

bump hotfix
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

clarify logic flow
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

add slope layer and slope metric
  docs/source/changelog.rst
  docs/source/image_generator.rst
  docs/source/topics/profiles.rst
  pylinac/core/image_generator/layers.py
  pylinac/metrics/profile.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add NPS results to results_data
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

fix doc syntax
  docs/source/changelog.rst
Due: Build Docs

revert because I'm an idiot
  pylinac/core/image_generator/layers.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

PR comment
  docs/source/changelog.rst
Due: Build Docs

plotting tweaks for field analysis/device analysis
  docs/source/changelog.rst
  pylinac/core/io.py
  pylinac/field_analysis.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

plotting tweaks for field analysis/device analysis
  docs/source/changelog.rst
  docs/source/images/device_plot.png
  pylinac/core/io.py
  tests_basic/core/test_io.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/plan_generator/__init__.py
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  pylinac/plan_generator/mlc.py
  pylinac/plan_generator/prefabs.py
  tests_basic/test_plan_generator.py
Due: none

plan generator
  docs/source/images/jaw_orientation.png
  docs/source/images/new_qa_plan.gif
  docs/source/index.rst
  docs/source/plan_generator.rst
  docs/source/topics/fluence.rst
  pylinac/core/validators.py
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  pylinac/plan_generator/mlc.py
  pylinac/plan_generator/prefabs.py
  tests_basic/test_plan_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

close more figures
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

make pylinac 3.8 compatible
  pylinac/contrib/orthogonality.py
  pylinac/contrib/quasar.py
  pylinac/core/image.py
  pylinac/core/nps.py
  pylinac/core/profile.py
  pyproject.toml
  tests_basic/core/test_profile.py
  tests_basic/test_acr.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove requirements, use pyproject.toml
  docs/source/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements-ram.txt
  requirements.txt
Due: Build Docs

fix hd mlc arrangement definition
  docs/source/changelog.rst
  docs/source/picketfence.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

clean WL
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add release note
  docs/source/changelog.rst
Due: Build Docs

add docs section of deps and clarify dev env setup
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/installation.rst
  pyproject.toml
Due: Build Docs

other cleanup
  .grype.yaml
  poetry.lock
  requirements-rtd.txt
  test_bank.py
  test_basic.py
  test_complete.py
Due: none

move changelog. drop cachetools reference
  docs/source/changelog.rst
  tests_basic/utils.py
Due: Build Docs

fix pip install
  bitbucket-pipelines.yml
Due: none

respond to PR comments
  docs/source/plan_generator.rst
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  pylinac/plan_generator/mlc.py
  tests_basic/test_plan_generator.py
Due: Build Docs

add test pipe
  bitbucket-pipelines.yml
Due: none

standardize meterset
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/mlc.py
  tests_basic/test_plan_generator.py
Due: none
