Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

change to trigger on any rst change
  bitbucket-pipelines.yml
Due: none

asterisk
  bitbucket-pipelines.yml
Due: none

unsure
  bitbucket-pipelines.yml
Due: none

Merged in bugfix/docs_badge (pull request #288)
  README.rst
  bitbucket-pipelines.yml
Due: none

url 🤦‍♂️
  README.rst
Due: none

WIP
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

point to latest from stable
  README.rst
Due: none

Closes #468
  README.rst
  docs/source/contributing.rst
Due: Build Docs

Fix non-integer x-values for profiles
  docs/source/changelog.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

finish global field locator
  docs/source/changelog.rst
  docs/source/images/global_sized_field_locator.png
  docs/source/topics/image_metrics.rst
  pylinac/core/metrics.py
  tests_basic/core/test_profile_metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

address comments by @ProfLeao
  joss/paper.md
Due: none

fix Halycon MLC config
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

add a hypersight quart variant
  docs/source/changelog.rst
  docs/source/quart.rst
  pylinac/__init__.py
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

revert accidental change
  tests_basic/test_quart.py
Due: Run Quart Tests

fix return types
  pylinac/core/profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix test
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

add CIRS electron density phantom
  docs/source/changelog.rst
  docs/source/cheese.rst
  pylinac/cheese.py
  tests_basic/test_cheese.py
Due: Build Docs

drop demo file usage for starshot
  docs/source/changelog.rst
  pylinac/starshot.py
Due: Build Docs, Run Starshot Tests

typos
  docs/source/changelog.rst
  docs/source/quart.rst
Due: Build Docs

add percent integral uniformity for las vegas
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

WIP
  pylinac/core/image.py
  pylinac/core/io.py
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix homogenous ROI issue + version bump
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/core/roi.py
  pyproject.toml
  tests_basic/core/test_roi.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

missed file
  pylinac/version.py
Due: none

patch for homogenous ROI
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/core/roi.py
  pylinac/version.py
  pyproject.toml
  tests_basic/core/test_roi.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/ct.py
  tests_basic/core/test_image.py
  tests_basic/core/test_io.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

last fix
  tests_basic/test_quart.py
Due: Run Quart Tests

fix tests
  bitbucket-pipelines.yml
  pylinac/core/image.py
  tests_basic/test_cbct.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

drop grype and bump base pipe to 3.11
  bitbucket-pipelines.yml
Due: none

scale down
  bitbucket-pipelines.yml
  tests_basic/test_quart.py
Due: Run Quart Tests

remove -n
  bitbucket-pipelines.yml
  tests_basic/test_quart.py
Due: Run Quart Tests

load scope
  bitbucket-pipelines.yml
  pyproject.toml
Due: none

optimize
  bitbucket-pipelines.yml
  pylinac/core/image.py
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

PR comments
  pylinac/core/io.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

2 workers
  bitbucket-pipelines.yml
Due: none

rework the disk locator to match WL. Use locator in WL standard version.
  pylinac/core/metrics.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add docs
  docs/source/changelog.rst
Due: Build Docs

tweaks
  docs/source/changelog.rst
  pylinac/core/geometry.py
  pylinac/core/metrics.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

finish up
  pylinac/core/metrics.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert a few things to original
  pylinac/core/geometry.py
  pylinac/core/metrics.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

reset mean kv value
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests
