Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

fix subplot and add changelog
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

merge changelog
  docs/source/changelog.rst
Due: Build Docs

add note about skew
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

fix zero division error
  docs/source/changelog.rst
  pylinac/core/mtf.py
  tests_basic/core/test_mtf.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

don't run tests on merge
  bitbucket-pipelines.yml
Due: none

comment on why
  pylinac/core/mtf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump version
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

WIP
  pylinac/core/nps.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix nps
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/topics/nps.rst
  pylinac/core/contrast.py
  pylinac/core/nps.py
  pylinac/ct.py
  tests_basic/core/test_contrast.py
  tests_basic/core/test_nps.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use default random
  tests_basic/core/test_nps.py
Due: Run core module tests

Check for 2 peaks when looking for key cbct slice
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

remove max check
  tests_basic/core/test_nps.py
Due: Run core module tests

adjust for odd-sized FFTs
  pylinac/core/nps.py
  tests_basic/core/test_nps.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typo
  docs/source/changelog.rst
Due: Build Docs

add WL2D to init
  pylinac/__init__.py
Due: none

fix window rolling over sample edge
  pylinac/metrics/image.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add quasar and jaw orthogonality. refactor locator.
  README.rst
  docs/source/changelog.rst
  docs/source/contrib.rst
  docs/source/images/orthogonality.png
  docs/source/images/quasar.png
  docs/source/index.rst
  docs/source/overview.rst
  docs/source/topics/image_metrics.rst
  pylinac/contrib/__init__.py
  pylinac/contrib/orthogonality.py
  pylinac/contrib/quasar.py
  pylinac/metrics/image.py
  pylinac/metrics/utils.py
  pylinac/planar_imaging.py
  pylinac/winston_lutz.py
  tests_basic/contrib/__init__.py
  tests_basic/contrib/test_orthogonality.py
  tests_basic/contrib/test_quasar.py
  tests_basic/core/test_profile_metrics.py
Due: Build Docs, Run Planar Imaging Tests, Run Winston-Lutz Tests, Run core module tests

typo
  pylinac/contrib/orthogonality.py
  tests_basic/contrib/test_orthogonality.py
Due: none

add change note
  docs/source/changelog.rst
Due: Build Docs

fix overlapping slices w/ no SpacingBetweenSlices tag
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/ct.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

use FWXM instead of derivative to better detect FFF beams
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

fix bug
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

fix bug
  pylinac/picketfence.py
Due: Run Picket Fence Tests

fix required prominence
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

convert to boxplot.
  docs/source/changelog.rst
  pylinac/picketfence.py
Due: Build Docs, Run Picket Fence Tests

show leaf numbers on leaf plot
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

show leaf numbers on leaf plot
  docs/source/changelog.rst
Due: Build Docs

adjust for separate analysis
  pylinac/picketfence.py
Due: Run Picket Fence Tests

normalize tests and methods
  pylinac/core/utilities.py
  pylinac/picketfence.py
  pylinac/winston_lutz.py
  tests_basic/test_picketfence.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use pydantic models and allow dumping to JSON
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/nuclear.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  requirements.txt
  tests_basic/core/test_utilities.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_analysis.py
  tests_basic/test_nuclear.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update docs
  docs/source/acr.rst
  docs/source/changelog.rst
  docs/source/cheese.rst
  docs/source/index.rst
  docs/source/picketfence.rst
  docs/source/quart.rst
  docs/source/topics/exporting_results.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
  pyproject.toml
Due: Build Docs

small fixes
  pylinac/core/geometry.py
  pylinac/nuclear.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix test
  pylinac/core/roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove members
  docs/source/winston_lutz.rst
Due: Build Docs

fix docs
  docs/source/winston_lutz_multi.rst
Due: Build Docs

add more quaac routines
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/vmat.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_vmat.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
