Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

move to uv 😃
  bitbucket-pipelines.yml
Due: none

more uv
  bitbucket-pipelines.yml
  pyproject.toml
Due: none

add uv.lock
  uv.lock
Due: none

uv run
  bitbucket-pipelines.yml
Due: none

trigger tests
  pylinac/core/array_utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

tweak contrib doc
  bitbucket-pipelines.yml
  docs/source/contributing.rst
Due: Build Docs

use uv tool where appropriate
  bitbucket-pipelines.yml
  docs/source/contributing.rst
  pyproject.toml
  uv.lock
Due: Build Docs

pull out nox into tool call
  bitbucket-pipelines.yml
  pyproject.toml
  uv.lock
Due: none

nox back in due to deps
  bitbucket-pipelines.yml
  pyproject.toml
  uv.lock
Due: none

cleanup
  docs/source/contributing.rst
  pyproject.toml
  uv.lock
Due: Build Docs

restore rtd behavior
  pyproject.toml
Due: none

bump min versions
  pyproject.toml
  uv.lock
Due: none

tool run?
  bitbucket-pipelines.yml
Due: none

add locked and changelog
  bitbucket-pipelines.yml
  docs/source/changelog.rst
Due: Build Docs

better file existing handling
  tests_basic/utils.py
Due: none

changelog
  docs/source/changelog.rst
Due: Build Docs

fix dtype logic
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix dtype logic
  pyproject.toml
Due: none

more fixes
  bitbucket-pipelines.yml
  noxfile.py
  pylinac/calibration/tg51.py
  pylinac/field_profile_analysis.py
  pyproject.toml
  uv.lock
Due: none

test fixes
  tests_basic/test_cbct.py
  tests_basic/test_field_profile_analysis.py
Due: Run CBCT Tests

test fixes
  tests_basic/test_field_profile_analysis.py
Due: none

change min version check
  bitbucket-pipelines.yml
  noxfile.py
Due: none

2x size
  bitbucket-pipelines.yml
Due: none

subset of tests
  bitbucket-pipelines.yml
  noxfile.py
Due: none

standardize the plotly calls
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/ct.py
  pylinac/picketfence.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Picket Fence Tests

plotly cleanup
  pylinac/core/geometry.py
  pylinac/ct.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

formatting
  tests_basic/core/test_geometry.py
Due: Run core module tests

PF leaf error plot when separate=True and overall plotly cleanup
  pylinac/core/geometry.py
  pylinac/core/mtf.py
  pylinac/core/plotly_utils.py
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

pass patient id and patient name to generator
  docs/source/changelog.rst
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Build Docs

tests for plotly imaging
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/core/mtf.py
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert other change
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

handle localization for very high HU rods in the scan
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_cheese.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

fix more direct density scans for the catphan 600
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix quart issue capturing malformed rear of phantom
  pylinac/ct.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

start of captured warnings
  pylinac/core/utilities.py
  pylinac/core/warnings.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix remaining tests
  pylinac/ct.py
  tests_basic/test_cbct.py
  tests_basic/test_planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests

fix remaining tests
  pylinac/ct.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

fix remaining tests
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run Winston-Lutz Tests

use in vs equal
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run Winston-Lutz Tests
