Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

allow writing to lazy dicom stacks
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

allow converting to simple profile from physical
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

beef up ruff checks
  pylinac/acr.py
  pylinac/core/image.py
  pylinac/core/image_generator/layers.py
  pylinac/core/io.py
  pylinac/ct.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add release note
  docs/source/changelog.rst
Due: Build Docs

add profile resampling method
  docs/source/changelog.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add planar scaling attr
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
  tests_basic/core/test_geometry.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add nuclear module
  docs/source/changelog.rst
  docs/source/images/cor_sine.png
  docs/source/images/cor_x_residuals.png
  docs/source/images/cor_y_residuals.png
  docs/source/images/four_bar_img.png
  docs/source/images/four_bar_x.png
  docs/source/images/four_bar_y.png
  docs/source/images/max_count_rate_plot.png
  docs/source/images/planar_uniformity_plot.png
  docs/source/images/quadrant_fwhm.png
  docs/source/images/quadrant_image.png
  docs/source/images/quadrant_mtf.png
  docs/source/images/tomo_contrast_graph.png
  docs/source/images/tomo_contrast_plot.png
  docs/source/images/tomo_contrast_uniformity.png
  docs/source/images/tomo_res_x.png
  docs/source/images/tomo_uniformity_plot.png
  docs/source/index.rst
  docs/source/nuclear.rst
  docs/source/topics/mtf.rst
  pylinac/core/contrast.py
  pylinac/core/geometry.py
  pylinac/core/image.py
  pylinac/core/mtf.py
  pylinac/core/roi.py
  pylinac/metrics/image.py
  pylinac/nuclear.py
  tests_basic/core/test_geometry.py
  tests_basic/test_nuclear.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix docs
  .gitignore
  docs/source/nuclear.rst
  docs/source/topics/mtf.rst
Due: Build Docs

add api classes
  docs/source/nuclear.rst
Due: Build Docs

fix ACR w/ lazy stack
  pylinac/acr.py
  pylinac/core/image.py
  tests_basic/test_acr.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix docstring
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

fix docstring
  pylinac/nuclear.py
Due: none

fix:axes3.spines.right AttributeError: 'collections.OrderedDict' object has no attribute 'right'
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

feat:Determine metadata and set canvas
  pylinac/picketfence.py
Due: Run Picket Fence Tests

fix docs per PR comments
  docs/source/nuclear.rst
Due: Build Docs

add refinement for 604 analyses
  docs/source/changelog.rst
  docs/source/images/604_new.png
  docs/source/images/604_old.png
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

Update __init__.py
  pylinac/__init__.py
Due: none

wrap hu values
  docs/source/changelog.rst
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

PR comment
  docs/source/changelog.rst
Due: Build Docs

make table removal slightly more robust
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_quart.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

drop PDF build, update env
  .readthedocs.yaml
Due: none

sort import
  pylinac/__init__.py
Due: none

adjust tests for small changes
  tests_basic/test_quart.py
Due: Run Quart Tests

make bb-finding use the metrics module and use adaptive histogram when at field edge
  docs/source/changelog.rst
  pylinac/metrics/image.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

calculate the noise power spectrum for catphans
  docs/source/cbct.rst
  docs/source/changelog.rst
  pylinac/core/contrast.py
  pylinac/core/geometry.py
  pylinac/core/roi.py
  pylinac/core/validators.py
  pylinac/ct.py
  tests_basic/core/test_contrast.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

forgot image
  docs/source/images/noise_power_spectrum.png
Due: Build Docs

fix docstring
  pylinac/core/contrast.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add image acquisition section
  docs/source/cheese.rst
Due: Build Docs

use updated logo in PDFs
  pylinac/core/pdf.py
  pylinac/files/Pylinac Full cropped.png
  pylinac/files/Pylinac-GREEN.png
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

wording per PR
  docs/source/cheese.rst
Due: Build Docs

bump version
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

Changes to results string
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

fix acr results slice thickness
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

change the wl image processing to after load to let RM perform manipulations.
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

add test
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

fix test
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

account for physically different images that might go in
  pylinac/core/geometry.py
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

improve PF from multiple
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/picketfence.py
  tests_basic/core/test_image.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix visualization and leaf inversion in PF
  pylinac/picketfence.py
Due: Run Picket Fence Tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
