Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

add tests to image generator and fix random noise bug
  docs/source/changelog.rst
  pylinac/core/image_generator/layers.py
  tests_basic/core/test_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update kraken on pylinac update
  bitbucket-pipelines.yml
  noxfile.py
Due: none

add setup
  bitbucket-pipelines.yml
Due: none

stupid
  bitbucket-pipelines.yml
Due: none

installlllllllllllllllllllllll
  bitbucket-pipelines.yml
Due: none

omg
  bitbucket-pipelines.yml
Due: none

fwefwefwef
  noxfile.py
Due: none

change credentials
  noxfile.py
Due: none

update gcloud
  bitbucket-pipelines.yml
Due: none

add unit of parameter in doc
  pylinac/core/image_generator/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add full range of rMTF values in results data
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

bump to 3.8
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

adjust snc localization to be more robust
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

real fix
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

update changelog
  docs/source/changelog.rst
Due: Build Docs

Include CNR in CTP515 outputs
  pylinac/core/roi.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

point old S3 test files to GCP
  tests_basic/core/test_io.py
  tests_basic/test_logs.py
Due: Run core module tests

change log
  docs/source/changelog.rst
Due: Build Docs

blacken again
  docs/source/conf.py
  docs/source/image_generator.rst
  noxfile.py
  pylinac/core/geometry.py
  pylinac/core/image_generator/__init__.py
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/utils.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/planar_imaging.py
  pylinac/winston_lutz.py
  requirements-ram.txt
  requirements.txt
  tests_basic/core/test_generator.py
  tests_basic/core/test_io.py
  tests_basic/test_cbct.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add blacken commit to ignore
  .git-blame-ignore-revs
Due: none

add more pre commits
  .pre-commit-config.yaml
Due: none

add isort commit
  .git-blame-ignore-revs
Due: none

add cbct acquisition warning
  docs/source/cbct.rst
Due: Build Docs

force pre-commit check on PR
  bitbucket-pipelines.yml
Due: none

split checks
  bitbucket-pipelines.yml
Due: none

activate env?
  bitbucket-pipelines.yml
Due: none

pre-commit git
  bitbucket-pipelines.yml
Due: none

fix passing delta to save analyzed subimage
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

Fix reference image calculation in RMS error
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

bump patch release
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

fix changelog
  docs/source/changelog.rst
Due: Build Docs

fix remote URLs
  tests_basic/core/test_io.py
  tests_basic/test_logs.py
Due: Run core module tests

better failure message
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

pre-commit clear
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add tomo cheese phantom
  docs/source/changelog.rst
  docs/source/cheese.rst
  docs/source/index.rst
  docs/source/overview.rst
  pylinac/__init__.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/ct.py
  tests_basic/test_cheese.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add cheese tests
  bitbucket-pipelines.yml
Due: none

bad format forgot a refactor
  pylinac/core/roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests
