Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

more documentation
  docs/source/cbct.rst
  docs/source/cheese.rst
  pylinac/core/geometry.py
  pylinac/core/roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

respond to PR comments
  bitbucket-pipelines.yml
  docs/source/cheese.rst
  pylinac/cheese.py
  pylinac/core/roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add ability to analyze low-density bbs.
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/core/image_generator/utils.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix ref
  docs/source/changelog.rst
Due: Build Docs

add clarification for parameters and BB per PR comment
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/core/image_generator/utils.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use_filenames now takes precedent.
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

bump version
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

rst vs bb 🤦‍♂️
  docs/source/changelog.rst
Due: Build Docs

WIP
  pylinac/core/image.py
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix 2-byte image diffs
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add change log for fix
  docs/source/changelog.rst
Due: Build Docs

bump to 3.9
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

fix release version doc note
  docs/source/winston_lutz_multi.rst
Due: Build Docs

fix missing dep
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

add axes to Tlog CSV
  docs/source/changelog.rst
  pylinac/log_analyzer.py
  tests_basic/test_logs.py
Due: Build Docs, Run Machine Logs Tests

fix results_data of device analysis
  docs/source/changelog.rst
  docs/source/field_analysis.rst
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Build Docs, Run Field Analysis Tests

formatting
  docs/source/changelog.rst
Due: Build Docs

handle utf8 encoding in logs
  pylinac/log_analyzer.py
  tests_basic/test_logs.py
Due: Run Machine Logs Tests

release note
  docs/source/changelog.rst
Due: Build Docs

add VMAT ROI configuration parameter
  docs/source/changelog.rst
  docs/source/vmat_docs.rst
  pylinac/core/geometry.py
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

algorithm clarification
  docs/source/vmat_docs.rst
Due: Build Docs

add tomo density config input
  docs/source/changelog.rst
  docs/source/cheese.rst
  pylinac/cheese.py
  tests_basic/test_cheese.py
Due: Build Docs

test commit
  tests_basic/test_vmat.py
Due: Run VMAT Tests

cleanup
  pylinac/cheese.py
  tests_basic/test_cheese.py
Due: none

pre-commit is flaky?
  tests_basic/test_vmat.py
Due: Run VMAT Tests

new blacken?
  pylinac/cheese.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/image_generator/utils.py
  pylinac/core/mtf.py
  pylinac/core/profile.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/winston_lutz.py
  tests_bank/_test_bank_logs.py
  tests_bank/_test_bank_planar_phantoms.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_image.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_roi.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update pre-commit
  .git-blame-ignore-revs
  .pre-commit-config.yaml
Due: none

refresh pre-commit
  pylinac/cheese.py
  tests_bank/_test_bank_logs.py
  tests_bank/_test_bank_planar_phantoms.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_image.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_roi.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix sort
  pylinac/cheese.py
  tests_basic/test_cheese.py
Due: none

Revert "refresh pre-commit"
  pylinac/cheese.py
  tests_bank/_test_bank_logs.py
  tests_bank/_test_bank_planar_phantoms.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_image.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_roi.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Revert "update pre-commit"
  .git-blame-ignore-revs
  .pre-commit-config.yaml
Due: none

Revert "new blacken?"
  pylinac/cheese.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/image_generator/utils.py
  pylinac/core/mtf.py
  pylinac/core/profile.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/winston_lutz.py
  tests_bank/_test_bank_logs.py
  tests_bank/_test_bank_planar_phantoms.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_image.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_roi.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Revert "pre-commit is flaky?"
  tests_basic/test_vmat.py
Due: Run VMAT Tests

Revert "test commit"
  tests_basic/test_vmat.py
Due: Run VMAT Tests

pr comment
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

fix import
  tests_basic/test_vmat.py
Due: Run VMAT Tests

make the linestyle clearer about data points
  pylinac/cheese.py
Due: none

format
  pylinac/cheese.py
Due: none

set density to x-axis
  pylinac/cheese.py
Due: none

apply ruff, lightly
  .pre-commit-config.yaml
  pylinac/core/image.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/io.py
  pylinac/core/mtf.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/ct.py
  pylinac/dlg.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
