Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

center high res based on block ROI
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

tighten up tests
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

clean up
  pylinac/acr.py
  pylinac/quart.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests, Run Quart Tests

update changelog
  docs/source/changelog.rst
  docs/source/images/new_leeds_rois.png
  docs/source/images/new_leeds_rois_demo.png
  docs/source/images/old_leeds_rois.png
  docs/source/images/old_leeds_rois_demo.png
Due: Build Docs

restore weber definition
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/core/contrast.py
  pylinac/version.py
  pyproject.toml
  tests_basic/core/test_contrast.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

small updates
  pylinac/core/profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update docs
  docs/source/topics/contrast.rst
Due: Build Docs

add difference contrast algorithm
  docs/source/topics/contrast.rst
  docs/source/topics/xim.rst
  pylinac/core/contrast.py
  tests_basic/core/test_contrast.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add rotation
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add release note
  docs/source/changelog.rst
Due: Build Docs

contrast changenote
  docs/source/changelog.rst
Due: Build Docs

WIP
  pylinac/core/profile.py
  pylinac/vmat.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

3.9
  .pre-commit-config.yaml
Due: none

remove default
  .pre-commit-config.yaml
Due: none

start, WIP
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

WIP
  pylinac/core/image.py
  pylinac/vmat.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix vmat
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

still WIP
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

vmat can now do raw analysis
  docs/source/changelog.rst
  docs/source/topics/images.rst
  docs/source/vmat_docs.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

add test and release note
  docs/source/changelog.rst
  tests_basic/core/test_image.py
Due: Build Docs, Run core module tests

typo
  docs/source/changelog.rst
Due: Build Docs

add side view to plots/PDF
  docs/source/changelog.rst
  docs/source/images/side_view.png
  pylinac/acr.py
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

add high-res contrast
  docs/source/cbct.rst
  docs/source/changelog.rst
  docs/source/quart.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

add release note about raw pixels
  docs/source/changelog.rst
Due: Build Docs

WIP
  pylinac/core/image_generator/utils.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump to 3.13
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

Update image.py
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

new logo
  README.rst
Due: none

merge and add check for echo numbers
  docs/source/changelog.rst
  pylinac/acr.py
Due: Build Docs, Run ACR CT/MRI Tests

return type
  pylinac/core/contrast.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

return all measurements + new method
  docs/source/quart.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

merge changelog
  docs/source/changelog.rst
Due: Build Docs

add elekta las vegas
  README.rst
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  pylinac/vmat.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests

auto-ssd
  docs/source/planar_imaging.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

bump and refactor for py3.8
  .pre-commit-config.yaml
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/array_utils.py
  pylinac/core/geometry.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/io.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/core/scale.py
  pylinac/core/typing.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  pyproject.toml
  requirements.txt
  tests_basic/core/test_generator.py
  tests_basic/core/test_image.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add scale topic document
  docs/source/index.rst
  docs/source/topics/scale.rst
  docs/source/winston_lutz.rst
Due: Build Docs

revert ndarray change
  pylinac/core/array_utils.py
  pylinac/core/geometry.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/mask.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/quart.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert ndarray change
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix typo
  docs/source/changelog.rst
  pylinac/acr.py
Due: Build Docs, Run ACR CT/MRI Tests

add MRI algo docs and roi->results converter
  docs/source/acr.rst
  pylinac/acr.py
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests
