Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

lib
  pyproject.toml
Due: none

add docs libs
  bitbucket-pipelines.yml
Due: none

Update io.py
  pylinac/core/io.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

result field descriptions
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/planar_imaging.rst
  docs/source/quart.rst
  docs/source/winston_lutz.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/field_profile_analysis.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests

tweaks
  pylinac/core/utilities.py
  pylinac/starshot.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typo
  docs/source/acr.rst
Due: Build Docs

add interview
  README.rst
Due: none

Typographical error
  docs/source/topics/exporting_results.rst
Due: Build Docs

more tweaks
  pylinac/acr.py
  pylinac/ct.py
  pylinac/planar_imaging.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run Winston-Lutz Tests

drop env set up; not needed
  bitbucket-pipelines.yml
Due: none

doc fixes
  docs/source/plan_generator.rst
Due: Build Docs

doc fixes
  docs/source/changelog.rst
  docs/source/topics/image_metrics.rst
Due: Build Docs

adds reference generated plans
  docs/source/plan_generator.rst
  pylinac/plan_generator/dicom.py
  scripts/prefab_plan_generator.py
Due: Build Docs

add references to the prefabs
  docs/source/picketfence.rst
  docs/source/plan_generator.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
Due: Build Docs

add reference images for planar to explain ROIs
  docs/source/cbct.rst
  docs/source/core_modules.rst
  docs/source/images/doselab-kv-reference.png
  docs/source/images/doselab-mv-reference.png
  docs/source/images/iba-primus-a-reference.png
  docs/source/images/las-vegas-reference.png
  docs/source/images/leeds-reference.png
  docs/source/images/ptw-epid-qc-reference.png
  docs/source/images/qckv-reference.png
  docs/source/images/si-qc3-reference.png
  docs/source/images/snc-kv-reference.png
  docs/source/images/snc-mv-reference.png
  docs/source/planar_imaging.rst
  docs/source/topics/contrast.rst
  docs/source/topics/mtf.rst
Due: Build Docs

typo
  docs/source/topics/contrast.rst
Due: Build Docs

refactor gamma
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/topics/gamma.rst
  pylinac/core/gamma.py
  pylinac/core/image.py
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
  tests_basic/core/test_image.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

more validation tests
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typo
  docs/source/topics/gamma.rst
Due: Build Docs

fix singleprofile gamma method call
  pylinac/core/gamma.py
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add geometric gamma.
  docs/source/changelog.rst
  docs/source/images/ju_gamma_geometric.png
  docs/source/topics/gamma.rst
  pylinac/core/gamma.py
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add support for uint32 XIM images
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

clear figure for more appropriate scale
  docs/source/log_analyzer.rst
Due: Build Docs

PR comments
  docs/source/topics/gamma.rst
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix dev kraken pipe
  bitbucket-pipelines.yml
Due: none

fix lazydicomstack
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

docs
  docs/source/changelog.rst
Due: Build Docs

v4 stuff
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/v4_changes.rst
Due: Build Docs

syntax
  docs/source/changelog.rst
Due: Build Docs

merge changelog
  docs/source/changelog.rst
Due: Build Docs

add gamma method
  docs/source/changelog.rst
  docs/source/topics/gamma.rst
  pylinac/core/gamma.py
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add centering method
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add plotly render for nearly everything
  docs/source/v4_changes.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/core/image.py
  pylinac/core/mtf.py
  pylinac/core/plotly_utils.py
  pylinac/core/profile.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/metrics/image.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  pyproject.toml
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Revert "add centering method"
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

change mlc position reporting to be from the CAX instead of image edge.
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

convert plotly calls to dictionaries of figures.
  pylinac/core/image.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove show_text and standardize calls
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/core/image.py
  pylinac/core/profile.py
  pylinac/ct.py
  pylinac/metrics/image.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  pylinac/vmat.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

clean up PF
  pylinac/picketfence.py
Due: Run Picket Fence Tests

More standardization
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/geometry.py
  pylinac/core/plotly_utils.py
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests
