Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

add super call
  pylinac/field_profile_analysis.py
Due: none

don't plot for lack of axis images
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

allow for ct-like algorithms to adjust ROIs
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/changelog.rst
  docs/source/cheese.rst
  docs/source/images/catphan_adjust.png
  docs/source/quart.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/image.py
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_quart.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix description
  docs/source/picketfence.rst
  pylinac/picketfence.py
Due: Build Docs, Run Picket Fence Tests

fix type inspection
  pylinac/core/warnings.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix tests
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

fix tests
  tests_basic/test_cbct.py
Due: Run CBCT Tests

add release note
  docs/source/changelog.rst
Due: Build Docs

handle reversed-order x-values for geometric gamma.
  docs/source/changelog.rst
  docs/source/topics/gamma.rst
  pylinac/core/array_utils.py
  pylinac/core/gamma.py
  tests_basic/core/test_array_utils.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Fix magnification doubling and add plot method
  docs/source/changelog.rst
  docs/source/image_generator.rst
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/simulators.py
  tests_basic/core/test_image_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix formatting
  docs/source/changelog.rst
Due: Build Docs

typo
  docs/source/changelog.rst
Due: Build Docs

fix tests; set sid to 1000
  tests_basic/core/test_profile.py
Due: Run core module tests

fix test
  tests_basic/core/test_gamma.py
Due: Run core module tests

cleanup finished WL datasets
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add BB pipe memory monitor as done for RM.
  bitbucket-pipelines.yml
  memory_monitor.sh
Due: none

add test tracker
  conftest.py
  memory_monitor.sh
Due: none

add temp dir tracker
  memory_monitor.sh
Due: none

fix conftest
  conftest.py
Due: none

add jq
  bitbucket-pipelines.yml
Due: none

update
  bitbucket-pipelines.yml
Due: none

add MLC transmission field to generator.
  docs/source/changelog.rst
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Build Docs

don't overwrite metrics of the same name
  docs/source/changelog.rst
  docs/source/topics/profiles.rst
  pylinac/core/image.py
  pylinac/core/profile.py
  pylinac/core/utilities.py
  tests_basic/core/test_image_metrics.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_utilities.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

don't enforce gamma x-domain restrictions.
  docs/source/changelog.rst
  pylinac/core/array_utils.py
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add CT adjustment descriptions to RM explanations
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/cheese.rst
  docs/source/quart.rst
Due: Build Docs

new profile util update
  tests_basic/core/test_profile.py
Due: Run core module tests

fix wl shift units
  docs/source/changelog.rst
  pylinac/winston_lutz.py
Due: Build Docs, Run Winston-Lutz Tests

add all MTFs in 10% increments
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

add origin slice parameter to CT-like analysis
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/changelog.rst
  docs/source/cheese.rst
  docs/source/quart.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run DLG Tests

version bump
  pylinac/version.py
Due: none

show other epid line
  pylinac/core/plotly_utils.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix tests
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
Due: Run DLG Tests

try to identify memory leak
  bitbucket-pipelines.yml
  pyproject.toml
  uv.lock
Due: none

trigger
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

start removing tests
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

delete the instance
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

restore bb size test
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

try not keeping the metrics
  pylinac/core/image.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use proxy
  pylinac/metrics/image.py
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

rework monitor??
  bitbucket-pipelines.yml
  memory_monitor.sh
Due: none

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
