Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

add flag for clipping
  pylinac/acr.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

use slice vs array
  pylinac/ct.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

use clipping in cheese
  pylinac/cheese.py
Due: none

add missing dep
  pyproject.toml
Due: none

WIP; super lazy dicom stack
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert symmetric check
  pylinac/ct.py
  tests_basic/test_cheese.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix refinement error of a few datasets.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

remove locked call
  bitbucket-pipelines.yml
Due: none

WIP
  pylinac/core/image.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix x-scaling of gamma distances.
  docs/source/changelog.rst
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add badges
  docs/source/changelog.rst
Due: Build Docs

fix test
  tests_basic/core/test_gamma.py
Due: Run core module tests

add tests
  pylinac/core/utilities.py
  pylinac/core/warnings.py
  tests_basic/core/test_warnings.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add docs topic and adjust ct loading
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/topics/memory.rst
  pylinac/core/image.py
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

make cbct pipe smaller
  bitbucket-pipelines.yml
Due: none

2 workers
  bitbucket-pipelines.yml
Due: none

keep 2x 😭
  bitbucket-pipelines.yml
Due: none

fix old test
  tests_basic/core/test_image.py
Due: Run core module tests

wording
  docs/source/changelog.rst
Due: Build Docs

bump version
  pylinac/version.py
Due: none

update uv lock
  uv.lock
Due: none

fully revert
  bitbucket-pipelines.yml
Due: none

fix k_tp per TRS-398 Table 9
  docs/source/changelog.rst
  pylinac/calibration/trs398.py
  tests_basic/test_trs398.py
Due: Build Docs, Run TG-51/TRS-398 Tests

fix result data size tests
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_vmat.py
Due: Run Planar Imaging Tests, Run Picket Fence Tests, Run VMAT Tests

fix TRS-398 tests 😭
  docs/source/changelog.rst
  tests_basic/test_trs398.py
Due: Build Docs, Run TG-51/TRS-398 Tests

enable captured warnings
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/ct.py
  pylinac/field_profile_analysis.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests

wording
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
Due: Build Docs

add ref_temp parameter
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
  pylinac/calibration/trs398.py
  tests_basic/test_trs398.py
Due: Build Docs, Run TG-51/TRS-398 Tests

clarify for old behavior
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
Due: Build Docs

typo
  docs/source/changelog.rst
Due: Build Docs

remove commented code
  pylinac/core/warnings.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

handle large spacing gamma data
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

finalize WL plotly plots
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add epid plots
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

call super init's
  pylinac/ct.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run Picket Fence Tests

call super init's
  pylinac/core/image.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix: correct link to CIRS062M phantom
  pylinac/cheese.py
Due: none

load lazy zip from stream
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix shape order for vision rt
  docs/source/changelog.rst
  docs/source/topics/images.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
