Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

absolute path
  tests_basic/core/test_pdf.py
Due: Run core module tests

full path
  tests_basic/core/test_pdf.py
Due: Run core module tests

revert line change
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

add transparent mask
  pylinac/core/pdf.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add note about logos
  docs/source/changelog.rst
Due: Build Docs

3.6.3
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/ct.py
  pylinac/version.py
  pyproject.toml
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

add localize call
  pylinac/acr.py
  pylinac/ct.py
  pylinac/quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests

refactor name based on PR comment
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

missed a copy
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

do a better merge next time!!!!
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

WIP
  docs/source/image_generator.rst
  docs/source/index.rst
  docs/source/winston_lutz_multi.rst
  pylinac/__init__.py
  pylinac/core/geometry.py
  pylinac/core/image_generator/__init__.py
  pylinac/core/image_generator/utils.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add link/ref to the CT equations.
  References/Evaluation of image quality for different kV cone beam CT acquisition and reconstruction methods in the head and neck region.pdf
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

wip
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix scaling of older SNC phantom
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

release note
  docs/source/changelog.rst
Due: Build Docs

add tests and notes
  docs/source/changelog.rst
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

patch version
  docs/source/changelog.rst
Due: Build Docs

bump patch version
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

xim image reading
  docs/source/changelog.rst
  docs/source/topics.rst
  pylinac/core/image.py
  pylinac/core/utilities.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

optimize + add export ability
  docs/source/changelog.rst
  docs/source/topics.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update for U/D inversion based on measured data.
  docs/source/winston_lutz_multi.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

multi-target WL
  docs/source/changelog.rst
  docs/source/image_generator.rst
  docs/source/winston_lutz_multi.rst
  pylinac/__init__.py
  pylinac/core/image_generator/__init__.py
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/utils.py
  pylinac/core/pdf.py
  pylinac/winston_lutz.py
  requirements.txt
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

respond to pr comments
  pylinac/core/image.py
  tests_basic/test_acr.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add link to image generator func doc
  docs/source/winston_lutz_multi.rst
Due: Build Docs

add tabulate to ram req txt
  requirements-ram.txt
Due: none

WL memory
  bitbucket-pipelines.yml
Due: none

fix image location of up/down orientation pf in PDF
  pylinac/picketfence.py
Due: Run Picket Fence Tests

add individual image details to a 3d WL analysis
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

add release note
  docs/source/changelog.rst
Due: Build Docs

respond to PR comments
  docs/source/winston_lutz_multi.rst
  pylinac/core/image_generator/__init__.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add unit to docstring
  pylinac/core/image_generator/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix docs
  docs/source/changelog.rst
Due: Build Docs

fix test
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

add imports back into trs398 for aliasing.
  pylinac/calibration/trs398.py
Due: none

blacken
  docs/source/conf.py
  pylinac/core/image.py
  pylinac/core/utilities.py
  pylinac/picketfence.py
  tests_basic/core/test_image.py
  tests_basic/test_acr.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

ignore commits
  .git-blame-ignore-revs
Due: none

fix slope exclusion ratio causing errors for very small fields
  pylinac/core/profile.py
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump version and change log
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

cleanup
  README.rst
  docs/source/cbct.rst
  docs/source/image_generator.rst
  docs/source/installation.rst
  docs/source/overview.rst
  docs/source/troubleshooting.rst
Due: Build Docs

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
