Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Run CBCT Tests:
  script:
  - pytest tests_basic/test_cbct.py

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-ram.txt
  - pip freeze
  - pytest tests_basic/test_acr.py

Run Planar Imaging Tests:
  script:
  - pytest tests_basic/test_planar_imaging.py

Run DLG Tests:
  script:
  - pytest tests_basic/test_dlg.py

Run Field Analysis Tests:
  script:
  - pytest tests_basic/test_field_analysis.py

Run Machine Logs Tests:
  script:
  - pytest tests_basic/test_logs.py

Run Picket Fence Tests:
  script:
  - pytest tests_basic/test_picketfence.py

Run Starshot Tests:
  script:
  - pytest tests_basic/test_starshot.py

Run TG-51/TRS-398 Tests:
  script:
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py

Run VMAT Tests:
  script:
  - pytest tests_basic/test_vmat.py

Run Winston-Lutz Tests:
  script:
  - pytest tests_basic/test_winstonlutz.py

Run core module tests:
  script:
  - pytest tests_basic/core

Merged in bugfix/remove_iterable (pull request #86)
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  setup.py
Due: none

Merged in docs/image_generator_noise (pull request #83)
  docs/source/image_generator.rst
Due: none

Merged in feature/RAM-1603_quart_phantom (pull request #87)
  Dockerfile-pipeline-image
  README.rst
  bitbucket-pipelines.yml
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/index.rst
  docs/source/quart.rst
  pylinac/__init__.py
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_quart.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/RAM-1636_imt_lr (pull request #84)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  noxfile.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merge pull request #88 in radformation/pylinac from refactor/roi_result to master
  pylinac/ct.py
  pylinac/quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/relative_imports (pull request #89)
  pylinac/__init__.py
  pylinac/acr.py
  pylinac/calibration/trs398.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/io.py
  pylinac/core/mtf.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  pylinac/starshot.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/RAM-1643_extra_roi (pull request #90)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in bugfix/add_imt_to_root_namespace (pull request #91)
  pylinac/__init__.py
Due: none

remove sklearn tooling and yagmail
  pylinac/core/image.py
  pylinac/core/utilities.py
  pylinac/core/vmatIMAGE.py
  pylinac/watcher.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use relative imports
  pylinac/calibration/trs398.py
  pylinac/flatsym.py
  pylinac/picketfence.py
  pylinac/watcher.py
Due: Run Picket Fence Tests

forgot init relative imports
  pylinac/__init__.py
Due: none

drop watcher and gui
  pylinac/__init__.py
Due: none

Merged in bugfix/RAM-1603 (pull request #94)
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in bugfix/RAM-1603 (pull request #95)
  pylinac/quart.py
  tests_basic/test_quart.py
Due: none

Merged in feature/1665_1d_gamma (pull request #92)
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in refactor/blackening (pull request #93)
  pylinac/__init__.py
  pylinac/acr.py
  pylinac/calibration/tg51.py
  pylinac/calibration/trs398.py
  pylinac/core/decorators.py
  pylinac/core/exceptions.py
  pylinac/core/geometry.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/image_generator/__init__.py
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/io.py
  pylinac/core/mask.py
  pylinac/core/mtf.py
  pylinac/core/pdf.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/core/typing.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/dlg.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/py_gui.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/version.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  requirements-dev.txt
  tests_basic/core/test_decorators.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in refactor/pytest_optimization (pull request #96)
  bitbucket-pipelines.yml
  pyproject.toml
Due: none

Merged in release/bump2_3.2 (pull request #97)
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: none

Merged in docs/update_changelog (pull request #98)
  docs/source/acr.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/planar_imaging.rst
  docs/source/quart.rst
  docs/source/winston_lutz.rst
  pylinac/__init__.py
Due: none

Merged in feature/2d_gamma (pull request #99)
  bitbucket-pipelines.yml
  pylinac/core/image.py
  tests_basic/core/test_image.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/build_docs (pull request #102)
  bitbucket-pipelines.yml
  noxfile.py
Due: none

Merged in bugfix/RAM-1705_pddx (pull request #100)
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
  pylinac/calibration/tg51.py
  tests_basic/test_tg51.py
Due: Run TG-51/TRS-398 Tests

Merged in feature/1d_gamma_threshold (pull request #101)
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in refactor/bb_pipes_using_vanilla_python (pull request #80)
  Dockerfile-pipeline-image
  Dockerfile-test
  bitbucket-pipelines.yml
  pylinac/core/scale.py
  pyproject.toml
  requirements-dev.txt
  requirements-ram.txt
  requirements.txt
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in feature/RAM-1714_planar_roi_scaling (pull request #103)
  bitbucket-pipelines.yml
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  requirements-ram.txt
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in feature/RAM-1718_snc_fsqa (pull request #104)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/ct.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests

Merged in cleanup (pull request #106)
  .readthedocs.yaml
  .travis.yml
  LICENSE.txt
  checklist.txt
  pylinac/acr.py
  pylinac/calibration/tg51.py
  pylinac/calibration/trs398.py
  pylinac/core/decorators.py
  pylinac/core/geometry.py
  pylinac/core/hill.py
  pylinac/core/image.py
  pylinac/core/image_generator/layers.py
  pylinac/core/image_generator/simulators.py
  pylinac/core/image_generator/utils.py
  pylinac/core/io.py
  pylinac/core/mask.py
  pylinac/core/mtf.py
  pylinac/core/pdf.py
  pylinac/core/profile.py
  pylinac/core/roi.py
  pylinac/core/scale.py
  pylinac/core/typing.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/log_analyzer.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/py_gui.py
  pylinac/quart.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  tests_basic/__init__.py
  tests_basic/_test_all.py
  tests_basic/core/matplotlibrc
  tests_basic/core/test_image.py
  tests_basic/core/test_utilities.py
  tests_basic/matplotlibrc
  tests_basic/test_field_analysis.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/push_to_github_broken (pull request #107)
  bitbucket-pipelines.yml
Due: none

Merged in bugfix/push_to_github_broken (pull request #108)
  bitbucket-pipelines.yml
Due: none

Merged in bugfix/push_to_github_broken (pull request #109)
  bitbucket-pipelines.yml
Due: none

Merged in feature/profile_gamma (pull request #105)
  docs/source/changelog.rst
  docs/source/field_analysis.rst
  pylinac/core/image_generator/layers.py
  pylinac/core/io.py
  pylinac/core/profile.py
  pylinac/field_analysis.py
  pylinac/picketfence.py
  tests_basic/core/test_generator.py
  tests_basic/core/test_profile.py
  tests_basic/test_field_analysis.py
  tests_basic/test_picketfence.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merge pull request #110 in radformation/pylinac from v3.3_bump to master
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: none

Merged in feature/RAM-1833_mean_distance_wl (pull request #112)
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

Merged in feature/skew (pull request #111)
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

Merged in feature/RAM-1773_blue_leeds (pull request #113)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in bugfix/RAM-1869_catphan600_water_vial (pull request #114)
  docs/source/changelog.rst
  pylinac/acr.py
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merge pull request #115 in radformation/pylinac from 3.4 to master
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: none

Merge pull request #116 in radformation/pylinac from master to release-v3.4
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/acr.py
  pylinac/ct.py
  pylinac/version.py
  pyproject.toml
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

Merged in feature/RAM-1942_wl_axis_mapping_from_zip (pull request #117)
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

Merged in feature/RAM-1838_y_axis_field_analysis (pull request #118)
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Run Field Analysis Tests

Path conditions:
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
