Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

typo
  docs/source/field_analysis.rst
Due: Build Docs

update
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/utilities.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/nuclear.py
  pylinac/picketfence.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  pylinac/vmat.py
  pylinac/winston_lutz.py
  tests_basic/core/test_image_generator.py
  tests_basic/core/test_utilities.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_analysis.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix doc
  docs/source/topics/exporting_results.rst
Due: Build Docs

add quaac dep
  pyproject.toml
Due: none

Update roi.py
  pylinac/core/roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add halcyon PF and fluence updates
  docs/source/changelog.rst
  docs/source/images/sacrifice.gif
  docs/source/plan_generator.rst
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  pylinac/plan_generator/mlc.py
  tests_basic/test_plan_generator.py
Due: Build Docs

final touches
  docs/source/changelog.rst
  docs/source/plan_generator.rst
  tests_basic/test_plan_generator.py
Due: Build Docs

final touches
  tests_basic/core/test_generator.py
Due: Run core module tests

WIP
  docs/source/changelog.rst
  pylinac/core/utilities.py
  pylinac/winston_lutz.py
  tests_basic/core/test_utilities.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

clarify version
  docs/source/changelog.rst
  pylinac/version.py
Due: Build Docs

pin numpy down
  pyproject.toml
Due: none

add tests
  docs/source/winston_lutz.rst
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

release note
  docs/source/changelog.rst
Due: Build Docs

revert accidental test change
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

WIP
  docs/source/index.rst
  docs/source/topics/cookbook.rst
  docs/source/topics/images.rst
Due: Build Docs

add roi samplers and change disk/rectangle constructors.
  docs/source/changelog.rst
  docs/source/topics/image_metrics.rst
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/core/roi.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/field_profile_analysis.py
  pylinac/metrics/image.py
  pylinac/nuclear.py
  pylinac/planar_imaging.py
  tests_basic/core/test_image_metrics.py
  tests_basic/core/test_roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add last test file
  tests_basic/core/test_roi.py
Due: Run core module tests

PR comments, clarifications
  docs/source/winston_lutz.rst
Due: Build Docs

clarify, add release note
  docs/source/changelog.rst
  docs/source/topics/exporting_results.rst
Due: Build Docs

add changelog badges
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Due: Build Docs

merge w/ master
  docs/source/changelog.rst
Due: Build Docs

more refactor of disk rois
  pylinac/acr.py
  pylinac/ct.py
  pylinac/planar_imaging.py
  pylinac/quart.py
  tests_basic/core/test_image_metrics.py
  tests_basic/test_picketfence.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run Picket Fence Tests, Run core module tests

merge
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

add lib
  pyproject.toml
Due: none

switch to glob
  docs/source/topics/cookbook.rst
Due: Build Docs

add cookbook mention
  docs/source/changelog.rst
Due: Build Docs

add interpreting results sections
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/cheese.rst
  docs/source/field_analysis.rst
  docs/source/field_profile_analysis.rst
  docs/source/picketfence.rst
  docs/source/planar_imaging.rst
  docs/source/quart.rst
  docs/source/starshot_docs.rst
  docs/source/topics/contrast.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
  docs/source/winston_lutz_multi.rst
Due: Build Docs

dup parameter
  pylinac/core/roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump version; remove bump2version as we use hatch now
  .bumpversion.cfg
  pylinac/version.py
Due: none

underline
  docs/source/planar_imaging.rst
Due: Build Docs

add analysis parameters section
  docs/source/picketfence.rst
Due: Build Docs

refactor to use the built-in image plotting and also simplify the colormaps
  pylinac/core/image.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/settings.py
  pylinac/starshot.py
  pylinac/vmat.py
  tests_basic/core/test_image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

pr comments
  docs/source/acr.rst
Due: Build Docs

pr comments
  docs/source/winston_lutz.rst
Due: Build Docs

WIP
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/cheese.rst
  docs/source/planar_imaging.rst
  docs/source/quart.rst
  docs/source/starshot_docs.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
  docs/source/winston_lutz_multi.rst
Due: Build Docs

add field analysis
  docs/source/field_analysis.rst
Due: Build Docs

add release note
  docs/source/changelog.rst
Due: Build Docs

add text for failing leaves
  docs/source/changelog.rst
  docs/source/picketfence.rst
  pylinac/core/geometry.py
  pylinac/picketfence.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add bug fix statement
  docs/source/changelog.rst
Due: Build Docs

clean up pydantic models.
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/cheese.rst
  docs/source/conf.py
  docs/source/field_analysis.rst
  docs/source/field_profile_analysis.rst
  docs/source/nuclear.rst
  docs/source/picketfence.rst
  docs/source/planar_imaging.rst
  docs/source/quart.rst
  docs/source/starshot_docs.rst
  docs/source/vmat_docs.rst
  docs/source/winston_lutz.rst
  docs/source/winston_lutz_multi.rst
Due: Build Docs

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
