Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Build Docs:
  script:
  - pip install nox
  - nox -s build_docs

Run CBCT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_cbct.py --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml

Run ACR CT/MRI Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Quart Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Planar Imaging Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run DLG Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Field Analysis Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Machine Logs Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Picket Fence Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Starshot Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run TG-51/TRS-398 Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run VMAT Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_vmat.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run Winston-Lutz Tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/test_winstonlutz.py --cov-report term --junitxml=./test-reports/pytest_results.xml

Run core module tests:
  script:
  - pip install -r requirements-dev.txt
  - pytest tests_basic/core --cov-report term --junitxml=./test-reports/pytest_results.xml

set same window for low density
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

refactor to single use disklocator
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

refactor to single use disklocator for MTMF
  pylinac/core/metrics.py
  pylinac/winston_lutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

allow to pass down detection conditions
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests

pass through
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

WIP
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

split out test pipes
  bitbucket-pipelines.yml
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

try minimizing memory usage
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix memory leak
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

use method instead
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

do hash check vs copy
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/core/metrics.py
  tests_basic/core/test_profile_metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

revert bb changes and test changes
  bitbucket-pipelines.yml
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

refactor boundary detection into function
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Revert "revert bb changes and test changes"
  bitbucket-pipelines.yml
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Run Winston-Lutz Tests

update docstrings and docs
  docs/source/topics/image_metrics.rst
  pylinac/core/metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

refactor the field detector metric to use linear thresholding vs percentiles.
  docs/source/topics/image_metrics.rst
  pylinac/core/metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

fix pop
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests

WIP
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

review comments from editor
  joss/paper.md
Due: none

fix order of text in PDF to match images
  docs/source/changelog.rst
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

refactor to general method
  pylinac/core/metrics.py
  tests_basic/core/test_profile_metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

refactor metrics
  docs/source/changelog.rst
  docs/source/images/global_disk_locator.png
  docs/source/images/metric_algo_0.02_binary.png
  docs/source/images/metric_algo_cropped.png
  docs/source/images/metric_algo_final.png
  docs/source/images/metric_algo_final_binary.png
  docs/source/images/metric_algo_inverted.png
  docs/source/images/metric_algo_original.png
  docs/source/images/metric_algo_profile_inversion.png
  docs/source/images/metric_algo_profile_normalized.png
  docs/source/images/multiple_field_sizes.png
  docs/source/topics/image_metrics.rst
  pylinac/core/metrics.py
  pylinac/winston_lutz.py
  tests_basic/core/test_profile_metrics.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

typo
  docs/source/topics/image_metrics.rst
Due: Build Docs

annotations
  tests_basic/core/test_profile_metrics.py
Due: Run core module tests

address PR comments
  docs/source/topics/image_metrics.rst
Due: Build Docs

pass metric kwargs through
  docs/source/changelog.rst
  pylinac/core/image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

remove demo file from PF multiple image loader
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/picketfence.py
  tests_basic/core/test_image.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

move metrics to own module
  docs/source/changelog.rst
  pylinac/core/contrast.py
  pylinac/core/image.py
  pylinac/core/metrics.py
  pylinac/metrics/__init__.py
  pylinac/metrics/features.py
  pylinac/metrics/image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

move metrics to own module
  pylinac/core/profile.py
  pylinac/metrics/profile.py
  pylinac/metrics/utils.py
  pylinac/winston_lutz.py
  tests_basic/core/test_profile.py
  tests_basic/core/test_profile_metrics.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

update docs for new module
  docs/source/topics/image_metrics.rst
  docs/source/topics/profiles.rst
  docs/source/winston_lutz.rst
Due: Build Docs

update readme and fix various doc build errors
  README.rst
  docs/source/acr.rst
  docs/source/cbct.rst
  docs/source/changelog.rst
  docs/source/index.rst
  docs/source/quart.rst
  docs/source/topics/profiles.rst
  docs/source/topics/scale.rst
  pylinac/ct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests

add JOSS paper to readme
  README.rst
Due: none

WIP for bb-based PF
  pylinac/picketfence.py
Due: Run Picket Fence Tests

PDD and Dmax metrics
  docs/source/changelog.rst
  docs/source/images/dmax.png
  docs/source/images/pdd.png
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  pylinac/metrics/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

add picket fence width statistics to results
  docs/source/changelog.rst
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Build Docs, Run Picket Fence Tests

add class method.
  pylinac/picketfence.py
Due: Run Picket Fence Tests

add dmax parameters to pdd init
  pylinac/metrics/profile.py
  tests_basic/core/test_profile.py
Due: Run core module tests

add test
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

convert error to warning
  pylinac/core/metrics.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

bump to 3.18
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  pyproject.toml
Due: Build Docs

Path conditions:
  Build Docs: any of: docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
